extends model/main

block page-body
  ul#metroUl
    - for (var x = 0; x < 12; x++)
        li
          .drop.cell
            p.middle 哈哈哈哈啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊

  #center
    .ceil
      ul.center
        - for (var x = 0; x < 4; x++)
            li
