extends model/main

block page-body
  script.
    window.domy = {};
    domy.toggle = {
      a : true
    };
  .w1000
    ul#metroUl
      - for (var x = 0; x < 12; x++)
          li
            .drop.cell
              p.middle 哈哈哈哈啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊

    #center
      .ceil
        ul.center
          - for (var x = 0; x < 4; x++)
              li
    #countDown(style="background:red;color:#fff;height:30px;text-align:center") 100

    #popup
      input#inline(type="button", value="inline弹出层", data-which="pop1")
      br
      input#ajax(type="button", value="ajax弹出层", data-url="../model/popup_model/1.html")
      #pop1.hipopupbox(hipopup="inline")
        a.close
        .inner
          | 1234
          br
          | 1234
          br
          | 1234
          br
    #format
      .unix
      .date
    #placeholder
      input(type="text",placeholder="请输入")
      .suggest
        ul
          li aaaaaaaa
    #hover
      .style1
        a(href="javascript:;") mouseover显示隐藏层
        .hide 可以移入
      .style2
        a(href="javascript:;") mouseover显示隐藏层
        .hide 不可以移入